Repository itswael/GatorCan, pull requests merged in 2025-02, with the labels that each got.

#55 implemented JWT token generation #40
  gatorcan-backend/utils/gentoken.go
  gatorcan-backend/utils/jwt.go
Labels: enhancement

#57 Staging
  gatorcan-backend/.gitignore
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/database/db.go
  gatorcan-backend/go.mod
  gatorcan-backend/main.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/models/user.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/utils/hashpass.go
Labels: enhancement

#58 Implement JWT Authentication
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/main.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/models/user.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/utils/gentoken.go
  gatorcan-backend/utils/jwt.go
Labels: enhancement

#60 #issue9: Implemented Fetch User Details Api and unit tests
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/main.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_registration_test.go
Labels: backend

#61 Implemented fetch user details
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/main.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_registration_test.go
Labels: backend

#65 Staging
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_login_test.go
Labels: enhancement, backend

#66 #issue12 define roles
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/models/role.go
  gatorcan-backend/models/user.go
  gatorcan-backend/models/userRoles.go
  gatorcan-backend/repositories/userRepository.go
Labels: enhancement, backend

#67 Define user roles (Admin, Instructor, Student, Teaching Assistant) #12
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/models/role.go
  gatorcan-backend/models/user.go
  gatorcan-backend/models/userRoles.go
  gatorcan-backend/repositories/userRepository.go
Labels: enhancement, backend

#68 #issue11 implement role based access control
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/role_based_access_test.go
Labels: enhancement, backend

#69 #issue11: Implement Role-Based Access Control
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/role_based_access_test.go
Labels: enhancement, backend

#70 bug/role based tests
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_login_test.go
Labels: bug, backend

#71 #issue15: adding default roles to the test db before testing
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_login_test.go
Labels: bug, backend

#72 Bug/code optimizations
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_deletion_test.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_registration_test.go
  gatorcan-backend/tests/user_update_test.go
  gatorcan-backend/utils/helper.go
Labels: bug, enhancement, backend

#73 Code optimizations
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_deletion_test.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_registration_test.go
  gatorcan-backend/tests/user_update_test.go
  gatorcan-backend/utils/helper.go
Labels: bug, backend

#75 refactor/services_repositories
  gatorcan-backend/DTOs/loginDTOs.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/services/userService.go
Labels: backend, refactor

#77 Feature/login api with react UI
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.css
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/AdminDashboard.jsx
  gatorcan-frontend/src/components/InstructorDashboard.jsx
  gatorcan-frontend/src/components/Login.jsx
  gatorcan-frontend/src/components/Login.test.jsx
  gatorcan-frontend/src/components/ProtectedDashboard.jsx
  gatorcan-frontend/src/components/ProtectedRoute.jsx
  gatorcan-frontend/src/components/StudentDashboard.jsx
  gatorcan-frontend/src/index.css
  gatorcan-frontend/src/main.jsx
  gatorcan-frontend/src/services/AuthService.jsx
Labels: frontend

#78 #Issue 43
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.css
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/AdminDashboard.jsx
  gatorcan-frontend/src/components/InstructorDashboard.jsx
  gatorcan-frontend/src/components/Login.jsx
  gatorcan-frontend/src/components/Login.test.jsx
  gatorcan-frontend/src/components/ProtectedDashboard.jsx
  gatorcan-frontend/src/components/ProtectedRoute.jsx
  gatorcan-frontend/src/components/StudentDashboard.jsx
  gatorcan-frontend/src/index.css
  gatorcan-frontend/src/main.jsx
  gatorcan-frontend/src/services/AuthService.jsx
Labels: frontend

#79 #44
  gatorcan-frontend/public/Gator.png
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Login.jsx
Labels: frontend

#80 #44
  gatorcan-frontend/public/Gator.png
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Login.jsx
Labels: frontend

#81 Issue #21: Implement User Registration Form (Admin Only)
  .DS_Store
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Login.jsx
  gatorcan-frontend/src/components/UserRegistration.jsx
  gatorcan-frontend/src/services/AdminService.jsx
Labels: enhancement, frontend

#82 Issue #21: Implement User Registration Form (Admin Only)
  .DS_Store
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Login.jsx
  gatorcan-frontend/src/components/UserRegistration.jsx
  gatorcan-frontend/src/services/AdminService.jsx
Labels: enhancement, frontend

#83 Issue #7: Implement Role-Based UI Restrictions
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/AdminDashboard.jsx
  gatorcan-frontend/src/components/StudentDashboard.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/vite.config.js
Labels: enhancement, frontend

#84 Issue 7: Implement Role-Based UI Restrictions
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/AdminDashboard.jsx
  gatorcan-frontend/src/components/StudentDashboard.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/vite.config.js
Labels: enhancement, frontend

#86 Bug/add user url changed
  gatorcan-frontend/src/services/AdminService.jsx
  gatorcan-frontend/vite.config.js
Labels: bug, frontend

#87 Staging
  gatorcan-frontend/src/services/AdminService.jsx
  gatorcan-frontend/vite.config.js
Labels: bug, frontend

#88 Staging - Sprint1.md
  Sprint1.md
Labels: documentation

#89 minor fix
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/routes/userRoutes.go
Labels: bug, backend

#90 minor fix
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/routes/userRoutes.go
Labels: bug, backend

#91 Update Sprint1.md
  Sprint1.md
Labels: documentation

#92 updated sprint1.md
  Sprint1.md
Labels: documentation

#134 Feature/logging
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/main.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/utils/logger.go
Labels: enhancement, backend

#135 implemented logging for sprint one issues
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/main.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/utils/logger.go
Labels: enhancement

#136 feature/Database schema for courses and enrollments
  gatorcan-backend/database/db.go
  gatorcan-backend/models/activeCourse.go
  gatorcan-backend/models/course.go
  gatorcan-backend/models/enrollment.go
Labels: enhancement

#137 Feature/enrolled courses api
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/routes/userRoutes.go
Labels: enhancement

#139 implemented courses/enrolled route and functionality
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/routes/userRoutes.go
Labels: enhancement

#140 pulling recent changes
  gatorcan-backend/database/db.go
  gatorcan-backend/models/activeCourse.go
  gatorcan-backend/models/course.go
  gatorcan-backend/models/enrollment.go
Labels: refactor

#141 implemented: controller, services and repository for courses
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/models/activeCourse.go
  gatorcan-backend/models/enrollment.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/services/courseService.go
Labels: enhancement, backend

#142 implemented controllers, service, repository for courses
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/models/activeCourse.go
  gatorcan-backend/models/enrollment.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/services/courseService.go
Labels: enhancement, backend

#143 #issue111: implemented test cases for fetching enrolled courses.
  gatorcan-backend/controllers/courseController_test.go
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
Labels: enhancement, backend

#144 implemented test cases
  gatorcan-backend/controllers/courseController_test.go
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
Labels: enhancement, backend
