Repository itswael/GatorCan, pull requests merged in 2025-03, with the labels that each got.

#148 enhancement/clickable-navbar
  gatorcan-backend/logs\app.log
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/StudentCalendar.jsx
  gatorcan-frontend/src/components/StudentCourses.jsx
  gatorcan-frontend/src/components/StudentInbox.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/src/components/StudentProfile.jsx
Labels: frontend, refactor

#149 Staging
  gatorcan-backend/logs\app.log
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/StudentCalendar.jsx
  gatorcan-frontend/src/components/StudentCourses.jsx
  gatorcan-frontend/src/components/StudentInbox.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/src/components/StudentProfile.jsx
Labels: frontend, refactor

#151 Staging
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/StudentCalendar.jsx
  gatorcan-frontend/src/index.css
Labels: enhancement, frontend

#153 #Issue98 and #Issue 103: Implemented REST API to fetch available courses and added logging to endpoints and Implemented course enrollment API with admin approval
  gatorcan-backend/.gitignore
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/DTOs/updateUserDTOs.go
  gatorcan-backend/DTOs/updateUserRolesDTOs.go
  gatorcan-backend/DTOs/userDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/models/activeCourse.go
  gatorcan-backend/models/course.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/roleRepository.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/services/userService.go
  gatorcan-backend/tests/enroll_in_course_test.go
  gatorcan-backend/tests/get_courses_test.go
  gatorcan-backend/tests/test_setup.go
Labels: enhancement, backend

#154 #Issue98 and #Issue 103: Implemented REST API to fetch available courses and added logging to endpoints and Implemented course enrollment API with admin approval
  gatorcan-backend/.gitignore
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/DTOs/updateUserDTOs.go
  gatorcan-backend/DTOs/updateUserRolesDTOs.go
  gatorcan-backend/DTOs/userDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/models/activeCourse.go
  gatorcan-backend/models/course.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/roleRepository.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/services/userService.go
  gatorcan-backend/tests/enroll_in_course_test.go
  gatorcan-backend/tests/get_courses_test.go
  gatorcan-backend/tests/test_setup.go
Labels: enhancement, backend

#156 issue 123: Display a weekly schedule with days and class timings
  .DS_Store
  gatorcan-backend/logs\app.log
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/StudentCalendar.jsx
Labels: enhancement, frontend

#158 Feature/show instructor details along with the course schedule
  gatorcan-frontend/src/components/StudentCalendar.jsx
Labels: enhancement, frontend

#155 fixed: test cases failing due to refactoring
  .vscode/launch.json
  gatorcan-backend/controllers/courseController_test.go
  gatorcan-backend/middleware/auth_middleware.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/userService.go
  gatorcan-backend/tests/courseController_test.go
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_deletion_test.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_login_test.go
  gatorcan-backend/tests/user_registration_test.go
  gatorcan-backend/tests/user_update_test.go
Labels: bug

#160 minor fix
  gatorcan-backend/tests/test_setup.go
Labels: backend

#162 Fix test setup resolving conflicts
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/courseController_test.go
  gatorcan-backend/tests/enroll_in_course_test.go
  gatorcan-backend/tests/get_courses_test.go
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_deletion_test.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_registration_test.go
  gatorcan-backend/tests/user_update_test.go
Labels: bug, backend

#163 fixed test cases issues after merge conflict
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/tests/courseController_test.go
  gatorcan-backend/tests/enroll_in_course_test.go
  gatorcan-backend/tests/get_courses_test.go
  gatorcan-backend/tests/role_based_access_test.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/tests/user_deletion_test.go
  gatorcan-backend/tests/user_details_test.go
  gatorcan-backend/tests/user_registration_test.go
  gatorcan-backend/tests/user_update_test.go
Labels: bug, backend

#164 Fix/cors update
  gatorcan-backend/go.mod
  gatorcan-backend/main.go
  gatorcan-backend/routes/userRoutes.go
Labels: enhancement, backend

#165 CORS fix
  gatorcan-backend/go.mod
  gatorcan-backend/main.go
  gatorcan-backend/routes/userRoutes.go
Labels: enhancement, backend

#166 Feature/course listing
  gatorcan-frontend/src/components/StudentCourses.jsx
Labels: frontend

#167 Issue #112
  gatorcan-frontend/src/components/StudentCourses.jsx
Labels: frontend

#168 #issue 117
  gatorcan-frontend/src/components/StudentCourses.jsx
Labels: frontend

#169 #117
  gatorcan-frontend/src/components/StudentCourses.jsx
Labels: frontend

#170 Issue 127: integrate course fetching backend
  gatorcan-frontend/src/components/StudentCourses.jsx
  gatorcan-frontend/src/services/CourseService.jsx
Labels: enhancement, frontend

#171 Staging
  gatorcan-frontend/src/components/StudentCourses.jsx
  gatorcan-frontend/src/services/CourseService.jsx
Labels: enhancement, frontend

#172 Bug: extra closing tag in Student Courses page
  gatorcan-frontend/src/components/StudentCourses.jsx
Labels: bug, frontend

#173 Staging
  gatorcan-frontend/src/components/StudentCourses.jsx
Labels: bug, frontend

#175 Staging
  gatorcan-frontend/cypress.config.js
  gatorcan-frontend/cypress/e2e/spec.cy.js
  gatorcan-frontend/cypress/support/commands.js
  gatorcan-frontend/cypress/support/e2e.js
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/Login.jsx
Labels: enhancement, frontend

#176 Issue 126: UI test cases
  gatorcan-frontend/.babelrc
  gatorcan-frontend/cypress/e2e/protectedDashboard.cy.js
  gatorcan-frontend/jest.config.js
  gatorcan-frontend/jest.setup.js
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/Login.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/src/components/StudentNavbar.test.jsx
  gatorcan-frontend/src/services/AdminService.test.jsx
  gatorcan-frontend/src/services/AuthService.test.jsx
  gatorcan-frontend/src/services/CourseService.test.jsx
Labels: enhancement, frontend

#177 Staging
  gatorcan-frontend/.babelrc
  gatorcan-frontend/cypress/e2e/protectedDashboard.cy.js
  gatorcan-frontend/jest.config.js
  gatorcan-frontend/jest.setup.js
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/Login.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/src/components/StudentNavbar.test.jsx
  gatorcan-frontend/src/services/AdminService.test.jsx
  gatorcan-frontend/src/services/AuthService.test.jsx
  gatorcan-frontend/src/services/CourseService.test.jsx
Labels: enhancement, frontend

#178 added unit tests
  gatorcan-frontend/src/components/AdminDashboard.test.jsx
  gatorcan-frontend/src/components/Login.test.jsx
  gatorcan-frontend/src/components/StudentCourses.test.jsx
  gatorcan-frontend/src/components/UserRegistration.text.jsx
Labels: frontend

#180 implemented Unit tests and added Sprint2.md
  Sprint2.md
  gatorcan-backend/DTOs/userDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/go.mod
  gatorcan-backend/services/courseService.go
  gatorcan-backend/tests/get_courses_test.go
  gatorcan-backend/unit_tests/courseController_test.go
  gatorcan-backend/unit_tests/courseService_test.go
  gatorcan-backend/unit_tests/userController_test.go
  gatorcan-backend/unit_tests/userService_test.go
  gatorcan-frontend/src/components/AdminDashboard.test.jsx
  gatorcan-frontend/src/components/Login.test.jsx
  gatorcan-frontend/src/components/StudentCourses.test.jsx
  gatorcan-frontend/src/components/UserRegistration.text.jsx
Labels: documentation, enhancement, backend

#181 Updated: Sprint2.md
  Sprint2.md
Labels: documentation

#182 updated: sprint2.md
  Sprint2.md
Labels: documentation

#230 Implement Interfaces and Dependency Injection #223
  gatorcan-backend/config/config.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/database/db.go
  gatorcan-backend/go.mod
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/roleRepository.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/services/userService.go
Labels: enhancement, backend, refactor

#234 Implement Interfaces and Dependency Injection #223
  gatorcan-backend/config/config.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/database/db.go
  gatorcan-backend/go.mod
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/roleRepository.go
  gatorcan-backend/repositories/userRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/services/userService.go
Labels: enhancement, backend, refactor

#237 implemented error directory and refactored the controllers to use defined errors
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/errors/courseErrors.go
  gatorcan-backend/errors/userErrors.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/unit_tests/courseController_test.go
Labels: backend

#238 added mock repositories and services and fixed the unit tests
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/errors/databaseErrors.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/unit_tests/courseController_test.go
  gatorcan-backend/unit_tests/courseService_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/userController_test.go
  gatorcan-backend/unit_tests/userService_test.go
Labels: backend

#239 added mock services and repositories, refactored unit tests, fixed the controller and services
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/errors/databaseErrors.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/unit_tests/courseController_test.go
  gatorcan-backend/unit_tests/courseService_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/userController_test.go
  gatorcan-backend/unit_tests/userService_test.go
Labels: backend

#240 implemented assignment, submission schema
  gatorcan-backend/main.go
  gatorcan-backend/models/assignment.go
  gatorcan-backend/models/submission.go
Labels: enhancement, backend

#241 implemented assignment and submission schema
  gatorcan-backend/main.go
  gatorcan-backend/models/assignment.go
  gatorcan-backend/models/submission.go
Labels: enhancement

#243 implemented repo, service, controller for assignment and defined the routes
  gatorcan-backend/DTOs/assignmentDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
Labels: enhancement, backend

#244 implemented repo, dto, service, controller for assignment routes
  gatorcan-backend/DTOs/assignmentDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
Labels: enhancement, backend

#245 #issue 229: Fix/unit tests sprint3 init
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/go.mod
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/services/userService.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/userService_test.go
Labels: bug, backend

#246 #Issue 229: Fixed unit tests
  gatorcan-backend/controllers/userController.go
  gatorcan-backend/go.mod
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/services/userService.go
  gatorcan-backend/tests/test_setup.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/userService_test.go
Labels: bug, backend

#247 #Issue 193: Feature/upload file to assignment endpoint
  gatorcan-backend/DTOs/assignmentDTOs.go
  gatorcan-backend/DTOs/updateAssignmentDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/errors/assignmentErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/models/assignment.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
  gatorcan-backend/services/courseService.go
Labels: backend

#259 Staging
  gatorcan-backend/DTOs/assignmentDTOs.go
  gatorcan-backend/DTOs/updateAssignmentDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/errors/assignmentErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/models/assignment.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
  gatorcan-backend/services/courseService.go
Labels: backend

#260 implemented fetching assignments based on course and/ assignment id
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/services/assignmentService.go
Labels: enhancement, backend

#261 implemented fetching assignments based on course id and/ assignment id
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/services/assignmentService.go
Labels: enhancement, backend

#248 admin - delete user UI with API call
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Admin/Tools/UserDeletion.jsx
  gatorcan-frontend/src/components/AdminDashboard.jsx
  gatorcan-frontend/src/components/UserRegistration.text.jsx
  gatorcan-frontend/src/services/AdminService.jsx
Labels: enhancement, frontend

#262 Staging
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Admin/AdminDashboard.jsx
  gatorcan-frontend/src/components/Admin/AdminDashboard.test.jsx
  gatorcan-frontend/src/components/Admin/AdminNavbar.jsx
  gatorcan-frontend/src/components/Admin/AdminProfile.jsx
  gatorcan-frontend/src/components/Admin/Tools/UserDeletion.jsx
  gatorcan-frontend/src/components/Admin/Tools/UserRegistration.jsx
  gatorcan-frontend/src/components/Admin/Tools/UserRegistration.text.jsx
  gatorcan-frontend/src/components/Admin/Tools/UserRolesUpdation.jsx
  gatorcan-frontend/src/components/AdminDashboard.jsx
  gatorcan-frontend/src/components/Instructor/InstructorDashboard.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseDetails.jsx
  gatorcan-frontend/src/components/Student/StudentCalendar.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.test.jsx
  gatorcan-frontend/src/components/Student/StudentDashboard.jsx
  gatorcan-frontend/src/components/Student/StudentInbox.jsx
  gatorcan-frontend/src/components/Student/StudentNavbar.jsx
  gatorcan-frontend/src/components/Student/StudentNavbar.test.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.jsx
  gatorcan-frontend/src/components/StudentNavbar.jsx
  gatorcan-frontend/src/components/StudentProfile.jsx
  gatorcan-frontend/src/components/UserRegistration.jsx
  gatorcan-frontend/src/services/AdminService.jsx
  gatorcan-frontend/src/services/AuthService.jsx
  gatorcan-frontend/src/services/CourseService.jsx
  gatorcan-frontend/src/services/UserService.jsx
  gatorcan-frontend/vite.config.js
Labels: bug, enhancement, frontend

#263 Feature/grading api endpoint
  gatorcan-backend/DTOs/gradeSubmissionDTOs.go
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/DTOs/updateAssignmentDTOs.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/assignmentErrors.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/models/submission.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
  gatorcan-backend/services/submissionService.go
Labels: backend

#264 Staging
  gatorcan-backend/DTOs/gradeSubmissionDTOs.go
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/DTOs/updateAssignmentDTOs.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/assignmentErrors.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/models/submission.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
  gatorcan-backend/services/submissionService.go
Labels: backend

#269 get course method implementation
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/services/courseService.go
Labels: enhancement, backend

#270 implemented get course functionality
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/controllers/courseController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/services/courseService.go
Labels: enhancement, backend

#271 Feature/course and submission
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
Labels: enhancement, backend

#272 implemented, get course and get submission
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
Labels: enhancement, backend

#273 implemented unit tests for assignments and submission
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/services/submissionService.go
  gatorcan-backend/unit_tests/assignmentService_test.go
  gatorcan-backend/unit_tests/assignmentsController_test.go
  gatorcan-backend/unit_tests/courseController_test.go
  gatorcan-backend/unit_tests/courseService_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/submissionController_test.go
Labels: enhancement, backend

#275 Fix/unit tests sprint3 extra
  gatorcan-backend/unit_tests/assignmentsController_test.go
  gatorcan-backend/unit_tests/submissionController_test.go
  gatorcan-backend/unit_tests/submissionService_test.go
Labels: backend

#277 Feature/submission service unit tests
  gatorcan-backend/services/submissionService.go
  gatorcan-backend/unit_tests/submissionService_test.go
Labels: enhancement, backend

#278 implemented submission service unit tests
  gatorcan-backend/services/submissionService.go
  gatorcan-backend/unit_tests/submissionService_test.go
Labels: enhancement, backend

#280 Enhancements/configuration changes
  gatorcan-frontend/index.html
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Admin/AdminProfile.jsx
  gatorcan-frontend/src/components/Dummy.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseDetails.jsx
  gatorcan-frontend/src/components/Student/StudentNavbar.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.jsx
  gatorcan-frontend/src/index.css
Labels: enhancement, frontend

#281 Staging
  gatorcan-frontend/index.html
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/components/Admin/AdminProfile.jsx
  gatorcan-frontend/src/components/Dummy.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseDetails.jsx
  gatorcan-frontend/src/components/Student/StudentNavbar.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.jsx
  gatorcan-frontend/src/index.css
Labels: enhancement, frontend

#282 Feature/courses dynamic UI
  gatorcan-frontend/src/components/Student/Courses/CourseAnnouncements.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseDiscussions.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseHome.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseNavbar.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseSyllabus.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.jsx
  gatorcan-frontend/src/services/CourseService.jsx
Labels: enhancement, frontend

#283 Staging
  gatorcan-frontend/src/components/Student/Courses/CourseAnnouncements.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseDiscussions.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseHome.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseNavbar.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseSyllabus.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.jsx
  gatorcan-frontend/src/services/CourseService.jsx
Labels: enhancement, frontend

#285 Staging
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.jsx
Labels: enhancement, frontend

#287 Staging
  gatorcan-backend/unit_tests/assignmentService_test.go
Labels: backend

#289 Feature/assignment listing+real time UI
  gatorcan-frontend/src/components/ChatBox.jsx
  gatorcan-frontend/src/components/ChatBox.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignment.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignments.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignments.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseChat.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseHome.test.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.test.jsx
Labels: frontend
