Repository itswael/GatorCan, pull requests merged in 2025-04, with the labels that each got.

#290 UI changes
  .DS_Store
  gatorcan-frontend/src/awsConfig.js
  gatorcan-frontend/src/components/Student/Courses/CourseHome.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.test.jsx
  gatorcan-frontend/src/components/Student/StudentDashboard.jsx
  gatorcan-frontend/src/components/Student/StudentNavbar.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.jsx
  gatorcan-frontend/src/services/AdminService.test.jsx
  gatorcan-frontend/src/services/CourseService.jsx
  gatorcan-frontend/src/services/CourseService.test.jsx
  gatorcan-frontend/src/services/UserService.test.jsx
Labels: enhancement, frontend

#291 Staging
  .DS_Store
  gatorcan-frontend/src/awsConfig.js
  gatorcan-frontend/src/components/ChatBox.jsx
  gatorcan-frontend/src/components/ChatBox.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignment.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignments.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignments.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseChat.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseHome.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseHome.test.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.test.jsx
  gatorcan-frontend/src/components/Student/StudentDashboard.jsx
  gatorcan-frontend/src/components/Student/StudentNavbar.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.jsx
  gatorcan-frontend/src/components/Student/StudentProfile.test.jsx
  gatorcan-frontend/src/services/AdminService.test.jsx
  gatorcan-frontend/src/services/CourseService.jsx
  gatorcan-frontend/src/services/CourseService.test.jsx
  gatorcan-frontend/src/services/UserService.test.jsx
Labels: enhancement, frontend

#292 documentation
  Sprint3.md
Labels: documentation

#293 added sprint3.md, backend API document, unittestlog
  BackendAPIDocumentation.md
  Sprint3.md
  UnitTestLog.md
Labels: documentation

#294 doc updated with frontend tests
  Sprint3.md
Labels: documentation

#295 Feature/enhancement
  BackendAPIDocumentation.md
  Sprint3.md
  UnitTestLog.md
  gatorcan-frontend/package.json
  gatorcan-frontend/src/components/Admin/AdminDashboard.test.jsx
  gatorcan-frontend/src/services/AuthService.test.jsx
Labels: enhancement, frontend

#297 video link updated in sprint3.md
  Sprint3.md
Labels: documentation

#329 Feature/containerizing backend
  Sprint3.md
  gatorcan-backend/Dockerfile.main
  gatorcan-backend/Makefile
Labels: backend

#330 Staging
  gatorcan-backend/Dockerfile.main
  gatorcan-backend/Makefile
Labels: backend

#331 Feature/course recommendation
  AIservice/main.py
Labels: backend

#332 implemented microservice for AI related functionality
  AIservice/main.py
Labels: enhancement, backend

#333 Feature/course recommendation
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/adapters/aiServiceAdapter.go
  gatorcan-backend/errors/microserivcesErrors.go
Labels: enhancement, backend

#334 implemented dtos and adapter class for microservice
  gatorcan-backend/DTOs/courseDTOs.go
  gatorcan-backend/adapters/aiServiceAdapter.go
  gatorcan-backend/errors/microserivcesErrors.go
Labels: enhancement, backend

#335 Feature/course recommendation
  AIservice/main.py
  gatorcan-backend/controllers/aiserviceController.go
  gatorcan-backend/errors/userErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/aiserviceService.go
Labels: enhancement, backend

#336 implemented course recommendations
  AIservice/main.py
  gatorcan-backend/controllers/aiserviceController.go
  gatorcan-backend/errors/userErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/aiserviceService.go
Labels: enhancement, backend

#337 implemented text summarization
  gatorcan-backend/adapters/aiServiceAdapter.go
  gatorcan-backend/controllers/aiserviceController.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/aiserviceService.go
Labels: enhancement, backend

#338 implemented text summarization
  gatorcan-backend/adapters/aiServiceAdapter.go
  gatorcan-backend/controllers/aiserviceController.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/aiserviceService.go
Labels: enhancement, backend

#339 Integrated AWS SNS with Backend
  gatorcan-backend/DTOs/snsDTOs.go
  gatorcan-backend/adapters/notificationAdapters.go
  gatorcan-backend/config/config.go
  gatorcan-backend/go.mod
  gatorcan-backend/main.go
  gatorcan-backend/utils/awssession.go
  gatorcan-backend/utils/testsns.go
Labels: backend

#340 Staging
  gatorcan-backend/DTOs/snsDTOs.go
  gatorcan-backend/adapters/notificationAdapters.go
  gatorcan-backend/config/config.go
  gatorcan-backend/go.mod
  gatorcan-backend/main.go
  gatorcan-backend/utils/awssession.go
  gatorcan-backend/utils/testsns.go
Labels: backend

#342 Feature/create update assignment endpoint with SNS notifications
  gatorcan-backend/DTOs/assignmentDTOs.go
  gatorcan-backend/DTOs/updateAssignmentDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/errors/assignmentErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
  gatorcan-backend/services/awsService.go
  gatorcan-backend/unit_tests/assignmentsController_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
Labels: backend

#343 Staging
  gatorcan-backend/DTOs/assignmentDTOs.go
  gatorcan-backend/DTOs/updateAssignmentDTOs.go
  gatorcan-backend/controllers/assignmentController.go
  gatorcan-backend/errors/assignmentErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/main.go
  gatorcan-backend/repositories/assignmentRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/assignmentService.go
  gatorcan-backend/services/awsService.go
  gatorcan-backend/unit_tests/assignmentsController_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
Labels: backend

#344 implemented fetching grades for all assigments
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/courseErrors.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
Labels: enhancement, backend

#346 added getinstructor courses endpoint
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/unit_tests/mocks/repositories.go
Labels: backend

#345 implemented get /grades route
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/courseErrors.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/coursesRepository.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/courseService.go
  gatorcan-backend/services/submissionService.go
  gatorcan-backend/unit_tests/mocks/repositories.go
Labels: enhancement, backend

#348 implemented Get submissions route
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
Labels: enhancement, backend

#349 implemented Get /submissions route
  gatorcan-backend/DTOs/submissionDTOs.go
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
Labels: enhancement, backend

#350 Fix/unit test cases s4
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/awsErrors.go
  gatorcan-backend/main.go
  gatorcan-backend/unit_tests/assignmentService_test.go
  gatorcan-backend/unit_tests/assignmentsController_test.go
  gatorcan-backend/unit_tests/courseService_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/submissionController_test.go
Labels: backend

#351 Staging
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/awsErrors.go
  gatorcan-backend/main.go
  gatorcan-backend/unit_tests/assignmentService_test.go
  gatorcan-backend/unit_tests/assignmentsController_test.go
  gatorcan-backend/unit_tests/courseService_test.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
  gatorcan-backend/unit_tests/submissionController_test.go
Labels: backend

#352 Feature/deployment
  gatorcan-backend/.dockerignore
  gatorcan-backend/Dockerfile.gatorcan_backend
  gatorcan-backend/Dockerfile.main
  gatorcan-backend/Makefile
  gatorcan-backend/database/seed.go
  gatorcan-backend/main.go
  gatorcan-frontend/.dockerignore
  gatorcan-frontend/Dockerfile.gatorcan_frontend
  gatorcan-frontend/makefile
Labels: backend

#353 Staging
  gatorcan-backend/.dockerignore
  gatorcan-backend/Dockerfile.gatorcan_backend
  gatorcan-backend/Dockerfile.main
  gatorcan-backend/Makefile
  gatorcan-backend/database/seed.go
  gatorcan-backend/main.go
  gatorcan-frontend/.dockerignore
  gatorcan-frontend/Dockerfile.gatorcan_frontend
  gatorcan-frontend/makefile
Labels: backend

#354 Feature/submitassignment
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/models/submission.go
  gatorcan-backend/models/user.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
Labels: enhancement, backend

#355 354 feature/submitassignment
  gatorcan-backend/controllers/submissionController.go
  gatorcan-backend/errors/submissionErrors.go
  gatorcan-backend/interfaces/interfaces.go
  gatorcan-backend/models/submission.go
  gatorcan-backend/models/user.go
  gatorcan-backend/repositories/submissionRepository.go
  gatorcan-backend/routes/userRoutes.go
  gatorcan-backend/services/submissionService.go
  gatorcan-backend/unit_tests/mocks/repositories.go
  gatorcan-backend/unit_tests/mocks/services.go
Labels: enhancement, backend

#357 Bug/cypress config changes and title changed
  gatorcan-frontend/cypress/cypress.config.js
  gatorcan-frontend/cypress/cypress/fixtures/example.json
  gatorcan-frontend/cypress/cypress/support/commands.js
  gatorcan-frontend/cypress/cypress/support/e2e.js
  gatorcan-frontend/cypress/e2e/protectedDashboard.cy.js
Labels: bug, frontend

#379 Staging
  gatorcan-frontend/cypress/cypress.config.js
  gatorcan-frontend/cypress/cypress/fixtures/example.json
  gatorcan-frontend/cypress/cypress/support/commands.js
  gatorcan-frontend/cypress/cypress/support/e2e.js
  gatorcan-frontend/cypress/e2e/protectedDashboard.cy.js
  gatorcan-frontend/package-lock.json
  gatorcan-frontend/package.json
  gatorcan-frontend/src/App.jsx
  gatorcan-frontend/src/amplify-config.js
  gatorcan-frontend/src/aws-exports.js
  gatorcan-frontend/src/components/ChatBox.jsx
  gatorcan-frontend/src/components/ChatBox.test.jsx
  gatorcan-frontend/src/components/Instructor/Courses/Assignments/InstructorCourseAssignmentEdit.jsx
  gatorcan-frontend/src/components/Instructor/Courses/Assignments/InstructorCourseAssignmentEdit.test.jsx
  gatorcan-frontend/src/components/Instructor/Courses/Assignments/InstructorCourseAssignmentHome.jsx
  gatorcan-frontend/src/components/Instructor/Courses/Assignments/InstructorCourseAssignmentViewSubmissions.jsx
  gatorcan-frontend/src/components/Instructor/Courses/Assignments/InstructorCourseAssignments.jsx
  gatorcan-frontend/src/components/Instructor/Courses/InstructorCourseAnnouncements.jsx
  gatorcan-frontend/src/components/Instructor/Courses/InstructorCourseDiscussions.jsx
  gatorcan-frontend/src/components/Instructor/Courses/InstructorCourseHome.jsx
  gatorcan-frontend/src/components/Instructor/Courses/InstructorCourseNavbar.jsx
  gatorcan-frontend/src/components/Instructor/Courses/InstructorCourseStatistics.jsx
  gatorcan-frontend/src/components/Instructor/Courses/InstructorCourseSyllabus.jsx
  gatorcan-frontend/src/components/Instructor/InstructorChat.jsx
  gatorcan-frontend/src/components/Instructor/InstructorNavbar.jsx
  gatorcan-frontend/src/components/Instructor/InstructorProfile.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseAssignment.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseHome.jsx
  gatorcan-frontend/src/graphql/queries.js
  gatorcan-frontend/src/main.jsx
Labels: enhancement, frontend

#380 fetchec courses dynamically in instructor chats
  gatorcan-frontend/src/components/Instructor/InstructorChat.jsx
Labels: enhancement, frontend

#381 Staging
  gatorcan-frontend/src/components/Instructor/InstructorChat.jsx
Labels: enhancement, frontend

#383 Update Sprint4.md
  Sprint4.md
Labels: documentation

#384 Update README.md
  README.md
Labels: documentation

#385 Navnit
  Sprint4.md
  gatorcan-frontend/src/components/Admin/AdminDashboard.jsx
  gatorcan-frontend/src/components/Admin/Tools/ActivateCourse.jsx
  gatorcan-frontend/src/components/Admin/Tools/AddCourse.jsx
  gatorcan-frontend/src/components/Instructor/InstructorChat.jsx
  gatorcan-frontend/src/components/Instructor/InstructorDashboard.jsx
  gatorcan-frontend/src/components/Instructor/InstructorDashboard.test.jsx
  gatorcan-frontend/src/components/Student/Courses/ChatBox.jsx
  gatorcan-frontend/src/components/Student/Courses/ChatBox.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseChat.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.test.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.jsx
  gatorcan-frontend/src/services/AdminService.jsx
  gatorcan-frontend/src/services/AdminService.test.jsx
  gatorcan-frontend/src/services/AuthService.jsx
  gatorcan-frontend/src/services/CourseService.jsx
  gatorcan-frontend/src/services/InstructorService.jsx
  gatorcan-frontend/src/services/InstructorService.test.jsx
  gatorcan-frontend/src/services/UserService.jsx
  gatorcan-frontend/src/services/UserService.test.jsx
  gatorcan-frontend/src/utils/Utils.jsx
Labels: frontend

#386 Staging
  gatorcan-frontend/src/components/Admin/AdminDashboard.jsx
  gatorcan-frontend/src/components/Admin/Tools/ActivateCourse.jsx
  gatorcan-frontend/src/components/Admin/Tools/AddCourse.jsx
  gatorcan-frontend/src/components/Instructor/InstructorChat.jsx
  gatorcan-frontend/src/components/Instructor/InstructorDashboard.jsx
  gatorcan-frontend/src/components/Instructor/InstructorDashboard.test.jsx
  gatorcan-frontend/src/components/Student/Courses/ChatBox.jsx
  gatorcan-frontend/src/components/Student/Courses/ChatBox.test.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseChat.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.jsx
  gatorcan-frontend/src/components/Student/Courses/CourseGrades.test.jsx
  gatorcan-frontend/src/components/Student/StudentCourses.jsx
  gatorcan-frontend/src/services/AdminService.jsx
  gatorcan-frontend/src/services/AdminService.test.jsx
  gatorcan-frontend/src/services/AuthService.jsx
  gatorcan-frontend/src/services/CourseService.jsx
  gatorcan-frontend/src/services/InstructorService.jsx
  gatorcan-frontend/src/services/InstructorService.test.jsx
  gatorcan-frontend/src/services/UserService.jsx
  gatorcan-frontend/src/services/UserService.test.jsx
  gatorcan-frontend/src/utils/Utils.jsx
Labels: frontend

#387 Feature/aws deployment
  README.md
  gatorcan-backend/Dockerrun.aws.json
  gatorcan-backend/Makefile
  gatorcan-backend/database/seed.go
  gatorcan-frontend/Dockerrun.aws.json
  gatorcan-frontend/makefile
Labels: backend

#388 Staging
  gatorcan-backend/Dockerrun.aws.json
  gatorcan-backend/Makefile
  gatorcan-backend/database/seed.go
  gatorcan-frontend/Dockerrun.aws.json
  gatorcan-frontend/makefile
Labels: backend

#389 Documentation/sprint4.md
  BackendAPIDocumentation.md
  Sprint4.md
  UnitTestLog.md
Labels: documentation

#390 documentation
  BackendAPIDocumentation.md
  Sprint4.md
  UnitTestLog.md
Labels: documentation
